@media(max-width:1500px) {
    .trading {
        background-size: 45%;
    }
}

@media(max-width:1109px) {
    .btn-discover {
        width: 31%;
    }

    .btn-features {
        width: 50%;
    }

    .card {
        height: 325px;
    }
}

@media(max-width:991px) {


    /* global */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        font-size: 20px;
    }

    /* ends */

    .navbar-expand-md .navbar-collapse {
        margin-right: 50px;
        margin: auto;
    }

    .hero {
        margin-bottom: 300px;
    }

    .herowd {
        flex: 100%;
        max-width: 100%;
    }

    .hero_image {
        margin-bottom: 20px;
    }

    .discover {
        background-position: bottom right;
        background-size: 36%;
        padding: 40px 15px;
    }

    .about {

        background-position: center left;

        padding: 40px 15px;
    }

    .card {
        height: 440px;
    }

    .trading {
        padding: 40px 15px;
        background-size: 45%;
    }

    .how {
        padding: 40px 15px;
    }

    .how_content {
        width: 100%;
    }

    .benefits_content h2 {
        font-size: 30px;
    }


    .fees {
        padding: 40px 15px;
    }

    .feature {
        padding: 40px 15px;
    }

    .btn-features {
        width: 45%;
    }

    .when_use {
        padding-top: 30px;
    }

    .btn-adv {
        width: 60%;
    }

    .btn-discover {
        width: 40%;
    }

    .footer_nav li a {
        font-size: 16px;
        padding: 0px 10px;
    }

    /* aboutpage */
    .aboutpg_title h2 {
        font-size: 26px;
    }

    .aboutpg_title p {
        font-size: 18px;
        width: 100%;
    }

    .aboutrow {
        padding: 30px 0px;
    }

    .abh2 {
        font-size: 26px;
        color: var(--cs-ptext);
    }

    .btn-aboutpg-discover {
        width: 80% !important;
    }

    /* login page */
    .login_title h2 {
        font-size: 20px;
    }

    .log_form h3 {
        font-size: 20px;
        padding: 0;
    }

    .loginform {
        width: 100%;
    }

    .btn_login {
        margin-top: 16px;
    }
}

@media(max-width:767px) {

    /* global */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        font-size: 20px;
    }

    /* ends */

    .navbar-collapse {
        margin-right: 0px;
    }

    .drop1{
        display: block;
    }

    .drop2{
        display: none;
    }

    .navbar-light .navbar-brand {
        color: rgba(0,0,0,.9);
        width: 40%;
    }

    .navbar-nav {
        padding: 10px 0px 20px 0px;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        font-size: 15px;
        padding: 5px 8px;
    }

    .btn-login {
        margin: auto;
        width: 25%;
    }

    .herowd {
        width: 100%;
    }

    .hero_title h2 {
        font-size: 26px;
    }

    .hero_form p {
        font-size: 26px;
        letter-spacing: 2px;
    }

    .hero_image {
        margin-bottom: 16px;
    }

    .discover_content h2 {
        text-align: center;
    }

    .discover {
        background-position: bottom right;
        background-size: 40%;
        padding: 30px 15px 280px 15px
    }

    .about {
        background: url(../images/half-2.webp);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 39%;
        padding: 30px 15px 30px 15px;
    }



    .about_era h2 {
        text-align: center;
    }

    .benefits_content h2 {
        font-size: 28px;
        text-align: center;
    }

    .benefits {
        padding: 60px 15px;
    }

    .card {
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 420px;
    }

    .trade_content {
        width: 100%;
    }

    .how {
        padding: 30px 15px;
    }

    .how_content {
        width: 100%;
    }

    .trading {
        padding: 30px 15px 205px 15px;
        background-size: 53%;
        background-position: bottom center;
    }

    .tradeh2 {
        text-align: center;
    }

    .fees {
        padding: 30px 15px;
    }

    .tdfees {
        width: 100%;
    }

    .trading_fees {
        width: 100%;
    }

    .btn-discover {
        width: 80%;
    }

    .ftcard h3 {
        font-size: 18px;
    }

    .features {
        padding: 30px 15px;
    }

    .btn-features {
        width: 80%;
    }

    .btn-adv {
        width: 80%;
        font-size: 17px !important;
    }

    .when_use {
        padding-top: 30px;
    }

    .tips_text {
        width: 100%;
    }

    .final_content h2 {
        font-size: 30px;
    }


    .final_content h3 {
        text-transform: inherit;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .final_content {
        width: 100%;
    }


    .final {
        padding: 30px 15px;
    }

    .card-acc {
        font-size: 18px !important;
        padding: 15px !important;
    }

    .faq {
        padding: 30px 15px;
    }

    .footer_head {
        display: block;
    }

    .footer_nav {
        display: block;
    }

    .footer_nav li a {
        font-size: 16px;
        padding: 0;
        margin-bottom: 5px;
    }

    .footer_logo {
        margin-bottom: 10px;
    }

    .btn_login {
        margin-top: 16px;
    }
}

@media(max-width:425px) {

    /* global */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        font-size: 20px;
    }

    /* ends */
    .hero_title h2 {
        font-size: 26px;
    }

    .hero_form p {
        font-size: 26px;
        letter-spacing: 2px;
    }

    .hero_image {
        margin-bottom: 16px;
    }

    .discover_content h2 {
        text-align: center;
    }

    .discover {
        background-position: bottom right;
        background-size: 72%;
        padding: 30px 15px 280px 15px
    }

    .about {
        background: url(../images/half-2.webp);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 80%;
        padding: 30px 15px 150px 15px;
    }

    .about_era {
        width: 100%;
    }

    .about_era h2 {
        text-align: center;
    }

    .benefits_content h2 {
        font-size: 28px;
        text-align: center;
    }

    .benefits {
        padding: 60px 15px;
    }

    .card {
        height: auto;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .trade_content {
        width: 100%;
    }

    .how {
        padding: 30px 15px;
    }

    .how_content {
        width: 100%;
    }

    .trading {
        padding: 30px 15px 205px 15px;
        background-size: 96%;
        background-position: bottom center;
    }

    .tradeh2 {
        text-align: center;
    }

    .fees {
        padding: 30px 15px;
    }

    .tdfees {
        width: 100%;
    }

    .trading_fees {
        width: 100%;
    }

    .btn-discover {
        width: 100%;
    }

    .ftcard h3 {
        font-size: 18px;
    }

    .features {
        padding: 30px 15px;
    }

    .btn-features {
        width: 100%;
    }

    .btn-adv {
        width: 100%;
        font-size: 17px !important;
    }

    .when_use {
        padding-top: 30px;
    }

    .tips_text {
        width: 100%;
    }

    .final_content h2 {
        font-size: 30px;
    }


    .final_content h3 {
        text-transform: inherit;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .final_content {
        width: 100%;
    }


    .final {
        padding: 30px 15px;
    }

    .card-acc {
        font-size: 18px !important;
        padding: 15px !important;
    }

    .faq {
        padding: 30px 15px;
    }

    .footer_head {
        display: block;
    }

    .footer_nav {
        display: block;
    }

    .footer_nav li a {
        font-size: 16px;
        padding: 0;
        margin-bottom: 5px;
    }

    .footer_logo {
        margin-bottom: 10px;
    }

    .contact_form {
        width: 100%;
        margin: auto;
    }
}

@media(max-width:375px) {
    .hero {
        margin-bottom: 355px;
    }
}

@media(max-width:320px) {

    /* global */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        font-size: 20px;
    }

    /* ends */

    .navbar-light .navbar-toggler{
        padding: 0;
    }
    .hero_title h2 {
        font-size: 26px;
    }

    .hero_form p {
        font-size: 26px;
        letter-spacing: 2px;
    }

    .hero_image {
        margin-bottom: 16px;
    }

    .discover_content h2 {
        text-align: center;
    }

    .discover {
        background-position: bottom center;
        background-size: 100%;
        padding: 30px 15px 280px 15px
    }

    .about {
        background: url(../images/half-2.webp);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 80%;
        padding: 30px 15px 150px 15px;
    }

    .about_era {
        width: 100%;
    }

    .about_era h2 {
        text-align: center;
    }

    .benefits_content h2 {
        font-size: 28px;
        text-align: center;
    }

    .benefits {
        padding: 60px 15px;
    }

    .card {
        height: auto;
        padding: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .trade_content {
        width: 100%;
    }

    .how {
        padding: 30px 15px;
    }

    .how_content {
        width: 100%;
    }

    .trading {
        padding: 30px 15px 160px 15px;
        background-size: 96%;
        background-position: bottom center;
    }

    .tradeh2 {
        text-align: center;
    }

    .fees {
        padding: 30px 15px;
    }

    .tdfees {
        width: 100%;
    }

    .trading_fees {
        width: 100%;
    }

    .btn-discover {
        width: 100%;
    }

    .ftcard h3 {
        font-size: 18px;
    }

    .features {
        padding: 30px 15px;
    }

    .btn-features {
        width: 100%;
    }

    .btn-adv {
        width: 100%;
        font-size: 17px !important;
    }

    .when_use {
        padding-top: 30px;
    }

    .tips_text {
        width: 100%;
    }

    .final_content h2 {
        font-size: 30px;
    }


    .final_content h3 {
        text-transform: inherit;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .final_content {
        width: 100%;
    }


    .final {
        padding: 30px 15px;
    }

    .card-acc {
        font-size: 18px !important;
        padding: 15px !important;
    }

    .faq {
        padding: 30px 15px;
    }

    .footer_head {
        display: block;
    }

    .footer_nav {
        display: block;
    }

    .footer_nav li a {
        font-size: 16px;
        padding: 0;
        margin-bottom: 5px;
    }

    .footer_logo {
        margin-bottom: 10px;
    }
}